{% extends 'base.html' %}
{% block content %}
  <h2>Buyurtmalar</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Foydalanuvchi</th>
      <th>Jami summa</th>
      <th>Status</th>
      <th>Sana</th>
    </tr>
    {% for order in orders %}
    <tr>
      <td>{{ order.id }}</td>
      <td>{{ order.user.username }}</td>
      <td>{{ order.total_price }} $</td>
      <td>{{ order.get_status_display }}</td>
      <td>{{ order.created_at }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
