{% extends 'base.html' %}


{% block title %} Profile {% endblock title %}

{% block content %}
    <div class=" image d-flex flex-column justify-content-center align-items-center">
        <img src="{{ user.profile_picture.url }}"   class="profile_pic rounded" alt="profile picture" width="30%"/>
        <span class="idd my-2">Username: {{ user.username }}</span>
        <span class="name">{{ user.first_name}} {{ user.last_name }}</span>
        <span class="name">{{ user.email}}</span>

        <div class=" d-flex mt-2">
             <a class="btn btn-dark" href="{% url 'user:profile_edit' %}">Profile edit</a>
             <a href="{% url 'user:password_change' %}" style="color: red;">Parolni almashtirish</a>
        </div>
        <a href="{% url 'shop:my_orders' %}" class="btn btn-outline-primary mt-3">
          📦 My Orders
        </a>

        <div class=" px-2 rounded mt-4 date ">
            <span class="join">Joined {{ user.date_joined | date:"M d, Y"}}</span>
        </div>
    </div>
{% endblock content %}