{% extends 'base.html' %}
{% load cart_extras %}


{% block title %} Detail {% endblock %}

{% block content %}

  <h2>Your Cart</h2>

  {% if products %}
    {% for product in products %}
      <p>{{ product.name }} — {{ cart|get_item:product.id }} x {{ product.get_discounted_price }} $</p>
      <a class="btn btn-info" href="{% url 'shop:remove_from_cart' product.id %}">Remove</a>
    {% endfor %}
    <hr>
    <h3>Total: {{ total }} $</h3>
    <a class="btn btn-success" href="{% url 'shop:checkout_address' %}">Checkout</a>
  {% else %}
    <p>Your cart is empty.</p>
  {% endif %}

{% endblock %}