{% extends 'base.html' %}
{% load product_extras %}

{% block title %} Order Successful {% endblock %}

{% block content %}
  <h2>Buyurtma muvaffaqiyatli yakunlandi!</h2>

  <h3>Buyurtma raqami: #{{ order.id }}</h3>
  <p>Sana: {{ order.created_at }}</p>

  <hr>

  <h3>Mahsulotlar:</h3>

  {% for item in snapshots %}
  <div style="display:flex; align-items:center; margin-bottom:10px; opacity:0.6;">
      <img src="{{ item.image }}" width="70" style="border-radius:5px; margin-right:10px;">
      <div>
          <p style="margin:0;">
              {{ item.name }}
              <span style="color:gray;">(o‘chirilgan mahsulot)</span>
          </p>
          <small>{{ item.quantity }} x {{ item.price }} so‘m</small>
      </div>
  </div>
  {% endfor %}

  <hr>

  <h3>Umumiy summa: {{ order.total_price }} so‘m</h3>

  <a href="{% url 'shop:my_orders' %}" class="btn btn-primary">Mening buyurtmalarim</a>

{% endblock %}
