{% extends 'base.html' %}
{% load product_extras %}


{% block title %}My Orders{% endblock %}

{% block content %}

<h2>Mening buyurtmalarim</h2>

    {% for order in orders %}
    <div style="border:1px solid #ccc; padding:15px; margin-bottom:15px; border-radius:10px;">

        <h4>Buyurtma #{{ order.id }}</h4>
        <p>Status: <strong>{{ order.get_status_display }}</strong></p>
        <p>Sana: {{ order.created_at }}</p>

        <h5>Mahsulotlar:</h5>

        {% for item in order.snapshots.all %}
            <div style="display:flex; align-items:center; opacity:0.6; margin-bottom:8px;">
                <img src="{{ item.image }}" width="60" style="border-radius:4px; margin-right:10px;">
                <div>
                    <p style="margin:0;">
                        {{ item.name }}
                        <span style="color:gray;">(o‘chirilgan product)</span>
                    </p>
                    <small>{{ item.quantity }} x {{ item.price }} so‘m</small>
                </div>
            </div>
        {% endfor %}

        <p><strong>Jami: {{ order.total_price }} so‘m</strong></p>

        <a href="{% url 'shop:checkout_success' order.id %}" class="btn btn-sm btn-secondary">
            To‘liq ko‘rish
        </a>
    </div>
    {% endfor %}


{% endblock %}
